.contact-form-container {
  margin: auto;
  width: 610px;
}

.contact-form-container h1{
  font-size: 33px;
  font-weight: 900;
  padding-top: 55px;
}

.contact-form-container p {
  font-size: 15px;
  color: #40484F;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

.contact-serv-container {
  display: flex;
}

.contact-serv-item-container {
  flex: 1 1 auto;
  width: 0;
  // align-self: stretch;
}

.contact-serv-item {
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin: 5px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  box-sizing: border-box;
  opacity: 0.6;
}

.contact-serv-item:hover {
  cursor: pointer;
  opacity: 1;
}

.contact-serv-item i {
  font-size: 20px;
  color: #6D8F54;
}

.contact-serv-item img {
  width: 17px;
}

.contact-serv-item-container input[type="radio"] {      
  display: none;
}

.contact-serv-item-container input:checked + .contact-serv-item {
  border: 1px solid #265936;
  opacity: 1;
}

.contact-form-container input[type="date"] {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 5px 0px 5px 5px;
  height: 45px;
  width: 97%;
  font-size: 14px;
  box-sizing: border-box;
}

input[type="time"]:focus, input[type="date"]:focus {
  outline: none;
  border: 1px solid #06748A;
}

input[type="time"] {
  height: 45px;
  width: 97%;
  border: 1px solid lightgrey;
  padding: 5px 0px 5px 5px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 4px;
}

.contact-form-container .normal-font {
  font-weight: 400;
  font-size: 14px;
  margin: 20px 0px 9px 0px;
}

.contact-form-container h2 {
  font-weight: 600;
  font-size: 20px;
  color: #6D8F54;
  margin: 20px 0px;
}

.c-gpig-img {
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: 0px 15px;
}

.c-gpig-img img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  z-index: 0;
}

.pig-ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  border-bottom: 1px solid lightgrey;
  padding: 20px 0px;
}

.pig-ul li i {
  font-size: 28px;
  color: #6D8F54;
}

.pig-ul li a {
  font-size: 13px;
  margin: 10px 10px 0px 0px;
  color: #6D8F54;
}

.pig-ul li a:hover, .c-add:hover {
  text-decoration: underline;
}

.c-add {
  display: inline-block;
  padding: 15px 0px;
  font-size: 13px;
  color: #6D8F54;
}

.contact-textarea {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
}

.terms {
  font-weight: 500;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid lightgrey;
  border-left: 10px solid #265936;
  border-radius: 4px;
  padding: 20px;
}
.contact-form-submit {
  padding: 10px 15px;
  background-color: #6D8F54;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin: 30px auto;
  width: 120px;
  text-align: center;
}

.contact-form-submit:hover {
  background-color: #265936;
}

.i-datetime {
  font-size: 17px;
  position: absolute;
  top: 23%;
  color: lightgrey;
  right: 20px;
  cursor: pointer;
}

