.dashboard-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.dashboard-content {
  width: 1100px;
  margin: auto;
}

.dashboard-left {
  width: 32%;
  height: auto;
}

.dashboard-right {
  width: 65%;
  height: auto;
}

.dashboard-box {
  background-color: #FFFFFF;
  padding: 20px 30px;
  border-bottom: 3px solid #CFD7DD;
  border-radius: 6px;
  margin-bottom: 20px;
}

.dashboard-box h2 {
  margin-bottom: 17px;
}

.pickle-balance {
  background-color: #FFFFFF;
  padding: 20px 0px;
  border-bottom: 2px solid #CFD7DD;
  border-radius: 6px;
  margin-bottom: 20px;
}

.profile-box-photo {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.profile-box-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.dashboard-content h3 {
  font-weight: 800;
  margin-bottom: 10px;
}

.dashboard-content a {
  font-size: 14px;
  color: #6D8F54;
  margin-bottom: 4px;
}

.profile-box-info a:hover {
  text-decoration: underline;
  color: #265936;
}

.dashboard-content h2 {
  font-size: 26px;
  font-weight: bold;
}

.dashboard-content p {
  color: #66727C;
  font-size: 14px;
}

.heavy-underline {
  margin-top: 15px;
  display: block;
  content: "";
  width: 70px;
  border-top: 3px solid #6D8F54;
}

.bal {
  margin-top: 10px;
  text-align: center;
  width: 50%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

.bal:first-child {
  border-right: 2px solid #EEEEEE;
}

.bal h5 {
  font-size: 25px;
  font-weight: 700;
}

.bal p {
  text-transform: uppercase;
  font-size: 12px;
  padding: 8px;
}

.pending {
  width: 300px;
  background-color: #E8EbEd;
  text-align: center;
  padding: 10px;
  margin: 15px auto;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
}

.d-your-piggies {
  display: flex;
  flex-wrap: wrap;
}

.d-pig {
  width: 300px;
  display: block;
  height: 200px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin: 5px;
  box-sizing: border-box;
  border: 1px solid #CFD7DD;
  border-bottom: 3px solid #CFD7DD;
  margin: 15px 10px;
}

.d-pig img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  z-index: 0;
}

.d-pig-name {
  color: white;
  position: absolute;
  bottom: 35px;
  left: 13px;
  text-shadow: 0 1px 5px rgba(0,0,0,.6);
}

.d-pig-links {
  background-color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 14px;
}

.d-pig-links a, button {
  font-size: 15px;
  margin-right: 8px;
  color: #6D8F54;
}

.d-pig-links a:hover, button:hover {
  text-decoration: underline;
}




