.dropdown-menu {
  display: flex;
  justify-content: space-between;
  position: absolute;
  background-color: white;
  z-index: 1;
  right: 20px;
  height: 200px;
  border-radius: 5px 0px 5px 5px;
  border-left: 1px solid #CFD7DE;
  border-right: 1px solid #CFD7DE;
  border-bottom: 1px solid #CFD7DE;
}

.dropdown-left {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
}

.dropdown-h4 {
  text-align: center;
}

.dropdown-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 130px;
  border-left: 1px solid #CFD7DE;
}

.dropdown-right a {
  display: block;
  padding: 10px 0px 10px 10px;
}

.dropdown-right a:hover {
  background-color: #83A05C;
  color: white;
}

.dropdown-right button {
  border-top: 1px solid #CFD7DE;
  padding: 10px 0px 10px 10px;
}

.dropdown-right button:hover {
  background-color: #83A05C;
  color: white;
}