.pickle-footer {
  height: 250px;
  background-color: #F4F5F6;
  padding-top: 35px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}

.footer-left {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.footer-left a {
  color: #66727C;
  font-size: 15px;
}

.footer-left a:hover {
  text-decoration: underline;
}

.footer-h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.sign-up-button {
  display: block;
  width: 140px;
  height: 45px;
  background-color: #83A05C;
  border: #83A05C;
  color: #FFFFFF;
  font-size: 17px;
  border-radius: 5px;
  margin-top: 50%;
  text-align: center;
}

.sign-up-button:hover {
  background-color: #265936;
}