.profile {
  background-color: white;
}

.profile-container {
  width: 1100px;
  margin: 0 auto;
}

.profile-header {
  display: flex;
}

.profile-photo {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  margin: 40px;
  overflow: hidden;
  position: relative;
}

.profile-photo img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  z-index: 0;
}

.profile-header-info {
  margin: 40px 0px 40px 80px;
}

.prof-h1 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
}

.prof-h4 {
  font-weight: 700;
}

.contact-button {
  display: block;
  width: 140px;
  height: 45px;
  background-color: #83A05C;
  border: #83A05C;
  color: #FFFFFF;
  font-size: 17px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  padding: 0px 20px;
}

.contact-button:hover {
  background-color: #265936;
}

.profile-content {
  display: flex;
  justify-content: space-between;
}

.prof-left {
  width: 345px;
  padding-bottom: 45px;
}

.prof-services {
  padding: 30px 20px 20px 20px;
  background-color: #F4F5F6;
  border-radius: 7px;
}

.service-li {
  display: flex;
  justify-content: space-between;
  align-items: middle;
  list-style-type: none;
  margin-top: 30px;
}

.li-h6 {
  font-weight: 900;
}

.li-price {
  font-size: 33px;
  margin-top: -10px;
}

.prof-middle {
  // border: 1px solid blue;
  width: 540px;
}

.prof-right {
  // border: 1px solid blue;
  width: 140px;
}

.prof-h2 {
  font-size: 32px;
  font-weight: 900;
}

.prof-h3 {
  font-size: 19px;
  font-weight: 900;
}

.hosting-pref {
  margin-top: 45px;
}

.hosting-pref p {
  text-align: center;
  margin-top: 15px;
}

.hosting-pref img {
  width: 50px;
}

.hosting-pigs {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.availability {
  margin-top: 45px;
}

.calendar {
  margin-top: 20px;
  height: 300px;
  border: 1px solid lightgrey;
  border-radius: 6px;
}

.about-me {
  margin-bottom: 30px;
}

.about-me p {
  font-size: 14px;
}

.profile-response {
  display: flex;
  width: 110%;
  justify-content: space-between;
  margin-top: 10px;
}

.profile-response p {
  font-size: 14px;
  font-weight: 400;
}

.profile-response i {
  color: #6D8F54;
}

.prof-headline {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}

.p-pig {
  width: 48%;
  display: block;
  height: 200px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #CFD7DD;
  border-bottom: 3px solid #CFD7DD;
  margin: 15px 6px 10px 0px;
}

.p-pig img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  z-index: 0;
}
.p-pig-name {
  font-size: 30px;
  font-weight: 900;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 13px;
  text-shadow: 0 1px 5px rgba(0,0,0,.6);
}

.right-box {
  padding: 8px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  position: relative;
}

.right-box h4 {
  font-size: 17px;
  font-weight: 600;
}

.right-box p {
  font-size: 12px;
  color: grey;
}

.right-box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  width: 22px;
  height: 22px;
  position: absolute;
  background-color: #265936;
  padding: 10px;
  border-radius: 50%;
  top: -20px;
  right: 7px;
}
