.search-page-container {
  width: 100%;
  display: flex;
}

.search-page-container h1 {
  font-size: 25px;
}

.search-left {
  border: 1px solid blue;
  width: 22.99%;
  height: 750px;
}

.search-middle {
  border: 1px solid blue;
  width: 44.99%;
  height: 750px;
  overflow: scroll;
}

.search-right {
  border: 1px solid blue;
  width: 31.99%;
  height: 750px;
}

.search-item {
  display: flex;
  padding: 15px;
  background-color: white;
  border-left: 4px solid transparent;
  border-bottom: 1px solid lightgrey;
}

.search-item:hover {
  border-left: 4px solid #265936;
}

.search-img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  margin-right: 20px;
}

.search-img img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  z-index: 0;
}

.search-item-name {
  color: #265936;
  font-size: 28px;
  font-weight: 500;
}