.session-form-container {
  margin: auto;
  width: 530px;
  padding: 45px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 3px solid #CFD7DD;
}

.session-form-container h1 {
  text-align: center;
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 20px;
}

.session-form-container p {
  text-align: center;
  font-size: 15px;
}

.session-form-container p > a {
  text-decoration: none;
  color: #06748A;
}

.session-form-container p > a:hover {
  text-decoration: underline;
  color: #033641;
}

.session-form-container label {
  display: block;
  margin: 5px 5px 20px 5px;
  position: relative;
}

.session-form-container input {
  color: black;
  display: block;
  width: 100%;
  height: 35px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 3px 3px 3px 5px;
  margin-top: 2px;
  font-size: inherit;
}

.session-form-container input:focus {
  outline: none;
  border: 1px solid #06748A;
}

.session-form-submit {
  display: block;
  width: 100%;
  height: 45px;
  background-color: #83A05C;
  border: #265936;
  color: #FFFFFF;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.session-form-submit:hover {
  cursor: pointer;
  background-color: #265936;
}

.session-form-submit:active {
  border-style: none;
}

.signin-errors {
  transition: color .2s ease-in-out, border .2s ease-in-out;
  color: #e5281a;
  padding: 15px;
  background-color: #F2DEDE;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.err-exit {
  font-size: 17px;
  line-height: 1;
  font-weight: 700;
  color: #000000;
  opacity: .3;
}

.signup-error {
  transition: opacity .15s linear;
  background-color: white;
  position: absolute;
  top: -29px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 9px 14px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,.2);
  white-space: nowrap;
  color: black;
  opacity: 1;
}

.no-opacity {
  opacity: 0;
}

.signup-error:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.session-form-container .red-text {
  color: #e5281a;
}

.session-form-container .red-border, .session-form-container .red-border:focus {
  border: 1px solid #e5281a;
}


