// UPDATE FORM HEADER
.update-form-header {
  height: 67px;
  background-color: #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-form-header a {
  padding: 20px;
  font-weight: 700;
  box-sizing: border-box;
}

.active {
  border-bottom: 3px solid #265936;
}

// UPDATE FORM CONTENT
.update-container {               // wrapper container to give bg white color
  background-color: white;
}

.update-container p {             // small text
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}

.update-container h3 {            // the main header 
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  padding-top: 45px;
  margin-bottom: 20px;
}

.update-container h6 {            // the small header
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #1B1F23;
}

.update-form-content {            // wrapper to center content 
  margin: auto;
  width: 610px;
}

.update-form-label {              // label text
  font-size: 13px;
  font-weight: 600;
  color: #1B1F23;
}

// FORM INPUT 
.update-form-input {               
  font-size: 13px;
  font-weight: normal;
  display: block;
  width: 100%;
  height: 33px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 3px 3px 3px 5px;
  margin-top: 2px;
  margin-bottom: 20px;
}

.update-form-input:focus {
  outline: none;
  border: 1px solid #06748A;
}

.radio-buttons {
  padding: 10px 0px;
}

.update-textarea {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 10px;
  margin-top: 15px;
}

.update-textarea:focus {
  outline: none;
  border: 1px solid #06748A;
}

// FORM SUBMIT
.update-form-submit {
  padding: 10px 15px;
  background-color: #6D8F54;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin: 30px auto;
}

.update-form-submit:hover {
  background-color: #265936;
}

// SPECIFICS
// ACCOUNT INFO
.zip {                            
  width: 290px;
}

// YOUR PHOTO
.photo-upload-left {                // flex left
  width: 70%;
}

.photo-upload-right {               // flex right
  width: 29%;
  margin-left: 20px;
}

input[type="file"] {      // remove display of file input
  display: none;
}

.upload-button {                    // file input replace
  font-size: 14px;
  cursor: pointer;
  border: 1px solid lightgrey;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 10px;
  display: inline-block;
}

.upload-button:hover {
  background-color: #F2F2F2;
}

// SERVICE ITEM 
.service-box {                      // box for each service
  border: 1px solid #CFD7DE;
  border-radius: 3px 3px 0px 0px;
  padding: 15px 15px 15px 50px;
  position: relative;
}

.service-price {
  border-left: 1px solid #CFD7DE;
  border-right: 1px solid #CFD7DE;
  border-bottom: 1px solid #CFD7DE;
  border-radius: 0px 0px 3px 3px;
  padding: 15px 15px 15px 50px;
  margin-bottom: 20px;
  position: relative;
}

.service-box .tag {                 // highest earning tag
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 2px 8px;
  background-color: #265936;
  color: white;
  border-radius: 10px;
  margin-top: 1px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.checklist {                        // checklist
  list-style-type: none;
  font-size: 14px;
  margin-bottom: 10px;
}

.service-circle {                   // icon circle
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  background-color: #6D8F54;
  color: white;
  border-radius: 50%;
  padding: 20px;
  font-size: 27px;
  position: absolute;
  top: 10px;
  left: -20px;
  z-index: 2;
}

.switch-pos {                        // switch 
  position: absolute;
  right: 10px;
}

.active-switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 15px;
}

.active-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CFD7DE;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: -3px;
  background-color: white;
  border: 1px solid #CFD7DE;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #9CB37E;
}

input:checked + .slider:before {
  background-color: #265936;
  border: 1px solid #9CB37E;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.price-input-pos {
  position: absolute;
  top: 10px;
  right: 10px;
}

.dollar {
  position: absolute;
  top: 10px;
  left: 15px;
}

.price {
  font-size: 14px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 5px 10px 5px 40px;
  width: 40px;
  height: 28px;
}

.price:focus {
  outline: none;
  border: 1px solid #06748A;
}

.add-piggy {
  border: 1px solid #CFD7DE;
  padding: 15px 24px 15px 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.piggy-photo-box {
  width: 100%;
  height: 200px;
  border: 2px dashed #265936;
  border-radius: 5px;
}

.piggy-photo-box p {
  font-size: 15px;
  color: #265936;
}

.uploaded-photo {
  position: absolute;
  height: 200px;
  width: auto;
}

.u-your-piggies {
  border-bottom: 1px solid #CFD7DE;
  padding: 5px;
}

.u-pig {
  width: 170px;
  height: 60px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin: 5px;
  box-sizing: border-box;
}

.u-pig img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.u-pig p {
  color: white;
  margin: 0px;
  position: absolute;
  bottom: 5px;
  left: 9px;
}

.bg-green {
  background-color: #9CB37E;
}

.add {
  font-size: 14px;
  border: 1px dashed #83A05C;
  color: #83A05C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add:hover {
  border-color: #265936;
  color: #265936;
}

.add:hover > .fa-plus-circle {
  color: #265936;
}